ul li{
  padding: 20px;
  list-style-type: none;
}

 button {
  flex: 20%;
  height: 100%;
  border: none;
  background-color: lightseagreen;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  padding: 4px 10px;
margin-left: 10px;

 }